

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background:
  repeating-linear-gradient(130deg, rgb(6, 130, 255),   rgb(255, 18, 136) 50%);

 
 
  
 
    

}
