
a{
    text-decoration: none;
}

#account-group{
    display: flex;
    align-items: center;

    
}

#account-group svg{
    color: white;
    font-size: 1.4rem;
    margin-right: 5px;
}

#account-group span{
    text-align: center;
    color: rgb(255, 255, 141);
    font-size: 0.9rem;

}

