a {
  text-decoration: none;
}

.icon-group {
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 0.1em 0.2em;
}

.icon-group span {
  text-align: center;
  color: hsl(0, 0%, 95%);
  text-shadow: 1px 1px 0 hsl(0, 0%, 15%);
}

.icon-group:hover span,
.icon-group:hover svg {
  text-decoration: underline;
  color: rgb(255, 255, 97);
}
